---
layout: default
permalink: /about_me/
---

<!--About-->
<section id="section_about">
    <h2>ABOUT</h2>
    <figure>
        <img src="../assets/img/section_about/profile.png" alt="Profile picture of Rita Machado">
    </figure>
    <div class="wrapper_aboutme">
        <p>Hello! I am a designer focused on developing creative Digital Experiences through user centered
            methodologies. With a positive mindset and open critical sense on looking for solutions, I consider that
            UX/UI Design is an
            opportunity to acquire wide knowledge and experiences that lead us closer to the people needs.
            My work flow focus on co-working on an end-to-end project process, focused on ideation, wireframes, mockups
            and prototyping, with a creative approach, as well heavily research based. I'm looking for opportunities to
            work as a team to learn, improve and develop new soft and hard skills.
            Let's Talk!
        </p>
        <p><mark>&nbsp;&nbsp;illustration&nbsp;enthusiast&nbsp;&nbsp;</mark>&nbsp;
            <mark>&nbsp;&nbsp;plant&nbsp;lover&nbsp;&nbsp;</mark>&nbsp;
            <mark>&nbsp;&nbsp;podcast&nbsp;addict&nbsp;&nbsp;</mark></p>
    </div>
</section>
<!--Studies-->
<section id="section_studies">
    <h2>STUDIES</h2>
    <div class="wrapper_studies">
        <div class="column_studies">
            {% for study in site.studies limit:5 %}
            <div class="box">
                <figure><img src="{{study.image}}" alt="{{study.image_alt}}"></figure>
                <h3><mark>&nbsp;{{study.title}}&nbsp;</mark></h3>
                <h4>{{study.study_date}}</h4>
                <p>{{study.institution}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="column_studies">
            {% for study in site.studies offset:5 %}
            <div class="box">
                <figure><img src="{{study.image}}" alt="{{study.image_alt}}"></figure>
                <h3><mark>&nbsp;{{study.title}}&nbsp;</mark></h3>
                <h4>{{study.study_date}}</h4>
                <p>{{study.institution}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Skills-->
<section id="section_skills">
    <h2>SKILLS</h2>
    <div class="wrapper_skills">
        <div class="column_skills">
            {% for skill in site.skills limit:5 %}
            <h3><mark>&nbsp;{{skill.name}}&nbsp;</mark></h3>
            <div class="meter">
                <div class="value" id="{{skill.meter_value_id}}"></div>
            </div>
            {% endfor %}
        </div>
        <div class="column_skills">
            {% for skill in site.skills offset:5 %}
            <h3><mark>&nbsp;{{skill.name}}&nbsp;</mark></h3>
            <div class="meter">
                <div class="value" id="{{skill.meter_value_id}}"></div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>