---
layout: default
permalink: /work/
---

<section id="section_work">
    <h2>Work</h2>
    <div class="column_work">
        {% for project in site.projects limit:6 %}
        <div class="card">
            <figure>
                <a target="_blank" href="{{project.link}}">
                    <img src="{{project.image}}" alt="{{project.image_alt}}">
                    <figcaption>
                        <h3><mark>&nbsp;{{project.project_title}}&nbsp;</mark></h3>
                        <p>{{project.project_description}}</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        {% endfor %}
    </div>
    <div class="column_work">
        {% for project in site.projects offset:6 %}
        <div class="card">
            <figure>
                <a target="_blank" href="{{project.link}}">
                    <img src="{{project.image}}" alt="{{project.image_alt}}">
                    <figcaption>
                        <h3><mark>&nbsp;{{project.project_title}}&nbsp;</mark></h3>
                        <p>{{project.project_description}}</p>
                    </figcaption>
                </a>
            </figure>
        </div>
        {% endfor %}
    </div>