---
layout: default
permalink: /work/
---


<!-- Portfolio 0.1 -->
<section id="section_work">

    <!-- Portfolio 0.2 -->
    <h2>Work</h2>

    <!-- <nav>
        <ul>
            {% for project in site.projects %}
            <li>
                <a href="{{site.baseurl}}/projects/{{project.slug}}"
                    class="{% if page.url contains project.slug %}current{% endif %}">{{project.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </nav> -->
    <!--  /Portfolio 0.2   -->

    <div class="column_work">
        {% for project in site.projects limit:6 %}
        <div class="card">
            <figure>
                <a href="{{site.baseurl}}/projects/{{project.slug}}"
                    class="{% if page.url contains project.slug %}current{% endif %}">
                    <img src="{{project.image}}" alt="{{project.image_alt}}">
                </a>
                <figcaption>
                    <h3><mark>&nbsp;{{project.project_title}}&nbsp;</mark></h3>
                    <p>{{project.project_description}}</p>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>
    <div class="column_work">
        {% for project in site.projects offset:6 %}
        <div class="card">
            <figure>
                <a href="{{site.baseurl}}/projects/{{project.slug}}"
                    class="{% if page.url contains project.slug %}current{% endif %}">
                    <img src="{{project.image}}" alt="{{project.image_alt}}">
                </a>
                <figcaption>
                    <h3><mark>&nbsp;{{project.project_title}}&nbsp;</mark></h3>
                    <p>{{project.project_description}}</p>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
    </div>