/* Import partials */
@import "portfolio/colors";
@import "portfolio/typography";

@mixin media-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

@mixin grid-template-mobile {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* Header */
header {
    max-width: 100vw;
    position: relative;
}

/* Top Bar */
.topbar {
    width: 100vw;
    height: 70px;
    position: fixed;
    z-index: 3;
    display: block;
    background-color: $dark-blue;
}

#logo {
    display: none;
}

header #nav_desktop {
    display: none;
}

header #nav_mobile {
    width: 100%;
    height: 100vh;
    top: 0;
    position: sticky;
    display: flex;
}

/* Menu Mobile — https://codepen.io/erikterwan/pen/EVzeRP*/
#menuToggle {
    width: 100%;
    top: 25px;
    padding-left: 18px;
    position: relative;
    z-index: 1;
    display: block;
    -webkit-user-select: none;
    user-select: none;

    a {
        color: $blue;
        transition: color 0.3s ease;

        &:active {
            -webkit-text-stroke: 0px;
            -webkit-text-fill-color: $blue;
            color: $blue;
        }
    }

    input {
        width: 40px;
        height: 32px;
        top: -7px;
        left: 15px;
        position: absolute;
        z-index: 2;
        display: block;
        opacity: 0;
        cursor: pointer;
        -webkit-touch-callout: none;

        &:checked~span {
            opacity: 1;
            background: $dark-blue;
            transform: rotate(45deg) translate(-2px, -1px);
        }

        &:checked~span:nth-last-child(3) {
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
        }

        &:checked~span:nth-last-child(2) {
            transform: rotate(-45deg) translate(0, -1px);
        }

        &:checked~ul {
            transform: none;
        }
    }

    span {
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        z-index: 1;
        display: block;
        background: $white;
        border-radius: 3px;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;

        &:first-child {
            transform-origin: 0% 0%;
        }

        &:nth-last-child(2) {
            transform-origin: 0% 100%;
        }
    }

}

#menu_mobile {
    width: 50%;
    height: 100%;
    margin: -130px 0 0 -20px;
    padding-top: 230px;
    position: absolute;
    background: $white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

    li {
        padding: 25px 0;
        font-family: $headline-font;
        font-size: 20px;
        -webkit-text-stroke: 1.5px;
        -webkit-text-fill-color: transparent;
        list-style-type: none;
    }
}

/* Typography */

h1 {
    width: 275px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $headline-font;
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: $dark-blue;
}

mark {
    background-color: $blue;
}

h2 {
    margin: 30% 0% 5%;
    display: flex;
    font-family: $headline-font;
    font-size: 24px;
    text-align: left;
    color: transparent;
    -webkit-text-stroke: 0.8px $blue;
    grid-area: title;
}

p {
    max-width: 600px;
    display: flex;
    font-family: $text-font;
    font-size: 16px;
    line-height: 1.5;
    color: $grey-blue;

    &::selection {
        background-color: $blue;
    }
}

/* Main */
main {
    width: 100%;
    height: auto;
    position: relative;
    background-color: $white;
    flex: 1;

    ul {
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
}

a {
    text-decoration: none;

    &:active {
        color: $blue;
    }

    &:visited {
        color: $blue;
    }

    &:hover {
        color: $blue;
    }
}


/* Sections */
#section_about,
#section_skills,
#section_studies,
#section_work {
    padding: 10%;
    box-sizing: border-box;
}

/*Section_Work*/
#section_work {
    min-height: 100vh;
    padding: 5%;

    @include grid-template-mobile;
    grid-template-areas:
        "title"
        "column_work01"
        "column_work02";
}

.column_work01 {
    grid-area: column_work01;
}

.column_work02 {
    grid-area: column_work02;
}

.card {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 4%;
    background-color: $white;
    box-shadow: 2px 2px 6px $grey-blue-shadow;
}

figure {
    width: 100%;
}

.column_work img {
    width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 4%;
}

figcaption {
    width: 100%;
    max-height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    p {
        margin-top: 5%;
    }
}

/*Section_About*/
#section_about {
    width: 100%;
    min-height: 100vh;
    @include grid-template-mobile;
    grid-template-areas:
        "title"
        "figure_profile"
        "wrapper_aboutme";
    background-image: url(img/section_about/background_01.png);
    background-repeat: repeat;
    background-size: 500px;
    background-position: center;

    figure {
        grid-area: figure_profile;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 30%;
            border-radius: 50%;
        }
    }

    .wrapper_aboutme {
        grid-area: wrapper_aboutme;

        p {
            margin-bottom: 4%;
            display: block;
            color: $grey-blue;
        }
    }
}

/*Section_Studies*/
#section_studies {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.wrapper_studies {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.column_studies {
    max-width: 100%;
    margin: 0 auto;
    flex: 100%;
}

.box {
    width: 100%;
    margin-bottom: 5%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: $white;
    box-shadow: 2px 2px 6px $grey-blue-shadow;

    figure {
        display: none;
    }

    p {
        margin-top: 25px;
    }
}

h3 {
    float: left;
    display: flex;
    font-family: $text-font;
    font-size: 16px;
}

h4 {
    top: 0;
    /* float: right; */
    font-family: $text-font;
    font-size: 12px;
    color: $grey-blue;
}

/*Section_Skills*/
#section_skills {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(img/section_about/background_01.png);
    background-repeat: repeat;
    background-size: 500px;
    background-position: center;
}

.wrapper_skills {
    display: flex;
    flex-direction: column;
}

.column_skills {
    display: flex;
    flex: 50%;
    flex-direction: column;
    margin-right: 20%;
}

.meter {
    height: 10px;
    margin-top: 5%;
    margin-bottom: 15%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: $white;
}

.value {
    height: 100%;
    float: left;
    border-radius: 20px;
    background-color: $blue;
}

#skill_01 {
    width: 80%;
}

#skill_02 {
    width: 60%;
}

#skill_03 {
    width: 60%;
}

#skill_04 {
    width: 80%;
}

#skill_05 {
    width: 30%;
}

#skill_06 {
    width: 90%;
}

#skill_07 {
    width: 70%;
}

#skill_08 {
    width: 60%;
}

#skill_09 {
    width: 50%;
}

#skill_10 {
    width: 50%;
}

/*Lets Talk*/
#social {
    ul {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }

    li {
        padding-left: 12px;
        display: flex;
        font-family: $text-font;
        font-size: 12px;
        color: $blue;
    }

    a {
        color: $blue;

        &:visited {
            color: $blue;
        }

        &:active {
            color: $blue;
        }

        &:hover {
            color: $blue;
        }
    }
}

/*Footer*/
footer {
    height: 50px;
    bottom: 0;
    padding: 0% 2% 0% 2%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;

    p {
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: $text-font;
        font-size: 12px;
        color: $blue;
    }
}

/*Media Queries - DESKTOP*/
@include media-query(620px) {

    /*Header*/
    header {
        position: fixed;
        z-index: 1;
        background-size: 100% 100%;

        #nav_desktop {
            display: block;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 20px 0px 10px;

            li {
                display: inline;
                margin: 12px;
            }

            li a:hover {
                background-color: $grey-blue;
                color: $white;
            }
        }

        #nav_mobile {
            display: none;
        }
    }

    .topbar {
        position: relative;
        background-color: $white;
    }

    #logo {
        width: 55px;
        height: 40px;
        margin: 12px;
        display: block;
    }

    #menu_desktop {
        margin-left: auto;
        margin-bottom: 0;
        font-family: $text-font;
        font-size: 16px;
    }

    h1 {
        width: 450px;
        font-size: 30px;
        line-height: 1.5;
        text-align: center;
    }

    /*Main*/

    /*Section_Work*/
    #section_work {
        padding: 5% 5% 5% 5%;
    }

    h2 {
        margin: 10% 0% 5%;
    }

    .card {
        position: relative;

        img {
            filter: none;
            transition: filter 1s;
            -moz-transition: filter 1s;
            -webkit-transition: filter 1s;
            -o-transition: filter 1s;
        }

        figure {
            &:hover img {
                filter: blur(2px) opacity(30%);
                transition: filter 0.1s;
                -moz-transition: filter 0.1s;
                -webkit-transition: filter 0.1s;
                -o-transition: filter 0.1s;
                animation-fill-mode: forwards;
            }

            &:hover figcaption {
                display: flex;
                // opacity: 1;
                // transition: opacity 0.1s;
                // -moz-transition: opacity 0.1s;
                // -webkit-transition: opacity 0.1s;
                // -o-transition: opacity 0.1s;
                // animation-fill-mode: forwards;
                cursor: pointer;
            }
        }
    }

    figcaption {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        padding: 60px;
        overflow: hidden;
        // opacity: 0;
        // transition: opacity 1s;
        // -moz-transition: opacity 1s;
        // -webkit-transition: opacity 1s;
        // -o-transition: opacity 1s;
    }

    /*Section_Studies*/
    .column_studies {
        padding: 0 2%;
    }

    .box {
        figure {
            width: 50px;
            height: 50px;
            margin-right: 4%;
            float: left;
            display: block;
        }

        img {
            width: 100%;
            border-radius: 50%;
            box-shadow: 2px 2px 6px $grey-blue-shadow;
        }
    }

    /*Section_Skills*/
    #section_skills {
        flex-direction: column;

        .meter {
            width: 100%;
        }
    }

    /*Footer*/
    footer {
        justify-content: flex-end;

        p {
            justify-content: flex-end;
        }
    }

}

@include media-query(800px) {

    /*Section_Work*/
    #section_work {
        grid-template-areas:
            "title title"
            "column_work01 column_work02";
    }

    .column_work {
        padding: 0 8px;
        flex: 25%;
    }

    figcaption {
        padding: 20px;
    }

}

@include media-query(870px) {

    /*Section_Skills*/
    .wrapper_skills {
        display: flex;
        flex-direction: row;
    }

    #section_skills .meter {
        width: 130%;
        margin-bottom: 30%;
    }

    /*Section_Work*/
    figcaption {
        padding: 15px;
    }

}

@include media-query(955px) {

    /*Section_Studies*/
    #section_studies {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper_studies {
        flex-direction: row;
    }

    .box figure {
        display: none;
    }

}