#section_work {
    min-height: 100vh;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    padding: 2%;
    box-sizing: border-box;
    border-radius: 4%;
    background-color: #F6F6F4;
    box-shadow: 2px 2px 6px #a0abcc9c;
}

figure {
    width: 100%;
}

.column_work img {
    width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 4%;
}

figcaption {
    width: 100%;
    max-height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

figcaption p {
    margin-top: 5%;
}